body {
  background-color: midnightblue;
  color: white;
  text-align: center;
  justify-content: center;
  text-shadow: 2px 2px 2px gray;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.js-title {
  font-size: 100px;
}
.box {
  margin-top: 100px;
}

.js-greetings {
  font-size: 30px;
}
.btn {
  cursor: pointer;
}
.clicked {
  color: #7f8c8d;
}
.form,
.greetings {
  display: none;
}

.showing {
  display: block;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.bgImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  animation: fadeIn 1s linear;
}
